.card {
  position: relative;
  margin: 30px 20px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
}

.card__heading {
  margin: 0;
  color: var(--heading-color);
}

.card__bmkcontainer {
  position: absolute;
  right: 20px;
  top: -5px;
  background-color: var(--text-color);
  padding: 4px;
}

.card__bmkcontainer:hover,
.card__bmkcontainer--saved {
  background: var(--link-color);
}

.card__bmkimg {
  height: 30px;
  margin-top: 6px;
  filter: invert();
}

.card__btn {
  display: block;
  margin: auto auto;
  background: var(--bg-color);
  padding: 10px 20px 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.card__textarea {
  width: 100%;
  height: 90px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

.card__textarea--oneline {
  height: auto;
}
