.header {
  position: relative;
  background: var(--bar-color);
  margin: 0;
  padding: 3px;
  color: white;
}

.header__heading {
  margin: 0;
  font-size: 30px;
  text-align: center;
  font-family: 'Damion', cursive;
}

.header__link {
  color: white;
}
