.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--bar-color);
  height: 100%;
}

.navigation__link {
  display: block;
  color: white;
  width: 25%;
  text-align: center;
  padding: 8px;
}

.navigation__icon {
  filter: invert();
  height: 30px;
}

.navigation__link:hover {
  background: var(--link-color);
}
