.tag-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.tag-list li {
  background: var(--heading-color);
  margin: 5px;
  padding: 0.4em;
  line-height: 1;
  white-space: nowrap;
  font-size: 0.9em;
  color: white;
  opacity: 0.8;
}

.tag-list li:hover {
  opacity: 1;
}
