.rad-7 {
  border-radius: 7px;
}

.shadow {
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.43);
}

.hidden {
  display: none;
}

.unstyled-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.brdr-alpha {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.brdr-bottom {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.bg-white {
  background-color: white;
}

.invert {
  filter: invert();
}

.white-rect {
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  margin: 30px 20px;
}
